
.container{

    width: 100%;
    height: 100vh;
    border: 1px solid brown;
}


       /* Left-side-potion */

.Left-side{
    width: 20%;
    height: 100%;
    background-color: rgb(133, 76, 76);
    
}

.img1{
    width: 50%;
    margin: 25px 0px 0px 60px;
    border-radius: 50%;
    
}
.head1{
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    font-weight:bold;
    margin: 5px 0px 0px 25px;
    /* border-bottom: 1px solid black; */
}

.head2{
    color: #ffffff;
    font-size: 15px;
    font-style: italic;
    font-weight:bold;
    margin: 5px 0px 0px 60px;
}

.head3{
    /* font-size: 15px; */
    font-style: italic;
    font-weight:bold;
    padding: 5px 0px 0px 30%;
    background-color: aqua;
    
}

.head4{
    padding: 0px 0px 0px 80px;
    background-color: aqua;
    font-style: italic;
    font-weight: bold;
}

.img2{
    width: 30px;
    /* margin-right: 80px; */
    /* border-radius: 50%; */
}

.list{
    list-style: none;
    padding: 5px 0px 0px 10px;
    /* margin-left: 20px; */
    
}

.list li{
    padding: 0px 0px 7px 8px;
    display: flex;
    align-items: center;
}
 
.div1 p{

    padding:0px 0px 0px 20px;
}



    /* Right-side-potion */

.Right-side{

    width: 79%;
    height: 100vh;
    border: 1px solid olivedrab;
    position: absolute;
    top: 7px;
    right: 07px;
    /* background-color: green; */
}

.headR1{
    font-style: italic;
    font-weight: bold;
    padding:20px;
    /* border-bottom: 1px solid black; */
    /* line-height: 0px; */
}



