body{
    background-color:  lightcyan;
}

.container{
    display: flex;
    flex-direction: row;
    width: 90%;
    border: 1px solid brown;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: darkkhaki;
    border-radius: 5px;
    
}
.Left-side{
    width: 30%;
    padding: 20px;
    background-color: rgb(133, 76, 76);
    color: #ffffff;
}
.img1{
    width: 50%;
    margin: 25px auto;
    border-radius: 50%;
    display: block;
}

.head1 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.head2 {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.img2{
    width: 30px;

}

.list{
   list-style: none;
   padding: 0;
}

.list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.div1{
    margin: 0;
}


/* Right Side Section */

.Right-side {
    width: 70%;
    padding: 20px;
    background-color: #cdc4c4;
    border-left: 5px solid #000000;
}
.AllHeads {
    font-size: 18px;
    padding: 1%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 50px;
    background-color: lightgray;
    text-align: center;
    box-shadow: 0 0 25px #06f506;
}

.para {
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
}

/* Responsive Design */

@media screen and (m-width:1306px){
    .container{
        flex-direction: column;
        width: 100%; 
         max-width: 100%;
    }

    .Left-side, .Right-side {
        width: 100%;
    }
}